<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>demo</title>
  </head>
  <body>
    <div id="app">
      <h1>标题是: {{ myTitle }} -- {{ myTitle }} 哈哈
      <h1>
      <h3>内容是: {{ myContent }} 嘻嘻
      </h3>
    </div>
  </body>
</html>
<script src="./index.js"></script>
<script>
  const vm = new Vue({
    el: "#app",
    data: {
      myTitle: "标题",
      myContent: "内容",
    },
  });

  window.vm = vm;
</script>
